nav{
    background-color: black;
    padding: 10px;
    text-align: center;
    
}
nav a{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
nav a:hover{
    color: yellow;
}
body{
    background-color:lavenderblush;
    
}
form{
    width: 380px;
    align-items: center;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    label{
        display: block;
        margin-bottom: 5px;
    }
    input{
        padding: 8px;
        width: 90%;
        margin-bottom: 10px;
    }
    button{
        padding: 10px 20px;
        background-color: rgb(47, 231, 120);
        color: white;
        border: none;
        cursor: pointer;
        width: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    }
    a{

        display: block;
        text-align: center;
        margin-top: 10px;
        color: blue;
        text-decoration: none;
    }

}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
    text-align: center;
    margin: 10px auto;
}
.back-link{
    display: block;
    text-align: center;
}
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;

}
table tr:nth-child(even){
    background-color: rgb(235, 193, 207);
}
table th, table td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
table thead{
    background-color: rgb(12, 12, 12);
    color: white;
    
}
table thead th{
    border-color: white;
}


